.App {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App input{
  width: 30%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 10px;
  border-radius: 10px;
}

.App img{
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 10px;
}

.weather{
  width: 100%;
}

.weatherDiv {
  text-align: center;
  margin-right: 1.25%;
  margin-left: 1.25%;
  margin-bottom: 1%;
  box-shadow: 2px 2px 4px #000000;
  padding: 1%;
}